<h1>eipclean: input form for elastic IP cleanup</h1>

<form name="input" action="displayresult.html.erb" method="get">
zookeeper channel: <input type="text" name="channel" /><br />
elastic IP address: <input type="text" name="value" /><br />
<input type="checkbox" name="verbose" value="true" /> verbose mode<br />
<input type="checkbox" name="dryrun" value="true" /> dryrun mode (don't actually change anything)<br />
<input type="submit" value="Run" />
</form> 

